				<hr />
    			<div class="row">
					<div class="col-12 col-lg-6 col-sm-6 pull-right">
						<span id="socialLinks" class="pull-right">
    					<a href="https://www.facebook.com/groups/EverythingMix/" data-toggle="tooltip" data-placement="top" title data-original-title="Facebook" target="_blank"><img src="/img/glyphicons_free/glyphicons_social/png/glyphicons_social_30_facebook.png" /></a>
              <a href="https://github.com/EverythingMix/EverythingMix.github.io" data-toggle="tooltip" data-placement="top" title data-original-title="GitHub" target="_blank"><img src="/img/glyphicons_free/glyphicons_social/png/glyphicons_social_21_github.png" /></a>
              <a href="/rss.xml" data-toggle="tooltip" data-placement="top" title data-original-title="RSS"><img src="/img/glyphicons_free/glyphicons_social/png/glyphicons_social_37_rss.png" /></a>
						</span>
					</div>
    				<div class="col-12 col-lg-6 col-sm-6">
    					<small>Copyright 2013-2014 Mike Wills | <a href="/privacy">Privacy Policy</a></small>
    				</div>
				</div>
			</div>
		</div>
	</div> <!-- /container -->
    <script>
    	$(document).ready(function(){
    		$('#socialLinks').tooltip({ selector: "[data-toggle=tooltip]" });
    	});
    </script>
  </body>
</html>